/*
main font: 
main background color: #
main text color: #
hover text color: #
active text color: #
visited text color: #
*/

@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../fonts/gothic.eot');
    src: url('../fonts/gothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothic.woff') format('woff'),
         url('../fonts/gothic.ttf') format('truetype'),
         url('../fonts/gothic.svg#CenturyGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JUICEBold';
    src: url('../fonts/juice_bold.eot');
    src: url('../fonts/juice_bold.ttf') format('truetype'); 
}

/* reset & default */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0; background: transparent; font-size: 100%; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {background: #000; color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted; cursor: help;}
table {border-collapse: collapse; border-spacing: 0;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
h1 {font-size: 20px;}
h2 {font-size: 18px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
a {color: #000; text-decoration: none;}
a:hover {color: #000; text-decoration: underline;}
a:active {color: #000;}
a:visited {color: #000;}
:focus {outline: 0;}
input[type="text"], select, textarea {border: 1px solid #ccc; font-size: 11px; vertical-align: middle;}

/* common */
.hidden {display: none;}

.tabs-content-outer{overflow:hidden; margin:30px 0 0}
	.tabs {overflow:hidden; background:#969494; padding:5px 0 0 10px}
	.tabs ul li{float:left; padding:7px 20px; margin:0 5px 0 0; 
		background:-webkit-gradient(linear, left top, left bottom, from(#525252), to(#121212)); /* for Safari 4+, Chrome */
		background:-moz-linear-gradient(top, #525252, #121212);  /* for Firefox 3.6 */
		background:-o-linear-gradient(top, #525252, #121212);  /* for Opera 11.10 */
		filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#525252', endColorstr='#121212');  /* IE6,IE7 */	
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#525252', endColorstr='#121212')";  /* IE8+ */
		border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; -o-border-radius:4px 4px 0 0;
		}
		.tabs ul li.current, .tabs ul li:hover{
			background:-webkit-gradient(linear, left top, left bottom, from(#c1c0c0), to(#ffffff)); /* for Safari 4+, Chrome */
			background:-moz-linear-gradient(top, #c1c0c0, #ffffff);  /* for Firefox 3.6 */
			background:-o-linear-gradient(top, #c1c0c0, #ffffff);  /* for Opera 11.10 */
			filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#c1c0c0', endColorstr='#ffffff');  /* IE6,IE7 */	
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#c1c0c0', endColorstr='#ffffff')";  /* IE8+ */
		}
		.tabs ul li a{color:#fff; font-size:12px; font-weight:bold}
		.tabs ul li.current a, .tabs ul li:hover a{color:#cb4402; text-decoration:none}
		
	.tabs-content{ background:#FFFFFF; color:#000000; font-size:14px; line-height:20px; padding:20px 10px; display: none;}
	.tabs-content.current{display: block;}
	.ico-arrow{width:0; height:0; border-bottom:6px solid transparent; border-top:6px solid transparent; border-left:6px solid #666666; display:block; float:left; margin:0 10px 0 0;}
	.options-list{overflow:hidden; border:1px solid #969494;}
	.options-list li{overflow:hidden; background:#efefef; border-top:1px solid #969494; padding:10px; }
		.options-list li:first-child{border-top:none}
	.options-list li a.options-name{float:left; width:300px; font-weight:normal; color:#CB4402; overflow:hidden}
		.options-list li a.options-name span:hover{color:#000}
		.options-name span{display:block; float:left}
		.options-name span.ico-arrow{margin:5px 5px 0 0; border-bottom:5px solid transparent; border-left:5px solid #666666; border-top:5px solid transparent;}
	.options-list li .options-type{float:left; width:232px;}
		.options-type span{border-bottom:1px dashed #999999}
		.options-type:hover{text-decoration:none}
		.options-type:hover span{color:#888888}
	.options-list .options-default{float:left; width:380px}
		.options-list dl dt{float:left; width:54px; color:#888888}
	.options-list.type-col-01 .options-default{width:610px}
/* structure */
#container {font-size:11px; width:972px; margin:0 auto; overflow:hidden;}
	header{width:972px; }
		header h1 {text-align:center; width:195px; margin:17px auto 15px;}	
		header .logo{display:block; text-indent:-9999px; background:url(../images/logo.png) no-repeat 0 0; width:195px; height:50px;}
			#main-nav{width:972px; background-color:#525252; border-bottom:3px solid #f15a22; height:37px; line-height:37px; 
				background:-webkit-gradient(linear, left top, left bottom, from(#525252), to(#121212)); /* for Safari 4+, Chrome */
				background:-moz-linear-gradient(top, #525252, #121212);  /* for Firefox 3.6 */
				background:-o-linear-gradient(top, #525252, #121212);  /* for Opera 11.10 */
				filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#525252', endColorstr='#121212');  /* IE6,IE7 */	
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#525252', endColorstr='#121212')";  /* IE8+ */ 
			}
			#main-nav ul.lev01{width:770px; margin:0 auto; background:url(../images/line-header.png) 0 0 no-repeat; position:relative; z-index:100}
			#main-nav ul.lev01 > li{float:left; background:url(../images/line-header.png) no-repeat 100% 0; display:block; padding:0 1px 0 0}			
			#main-nav ul.lev01 a{color:#f2f2f2; font-size:17px; display:block; padding:0 15px; font-family:CenturyGothicRegular; height:37px}			
			#main-nav ul.lev01 a:hover{text-decoration:none; background-color:#f8f8f8; color:#ff6600;
				background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c1c0c0)); /* for Safari 4+, Chrome */
				background:-moz-linear-gradient(top, #ffffff, #c1c0c0);  /* for Firefox 3.6 */
				background:-o-linear-gradient(top, #ffffff, #c1c0c0);  /* for Opera 11.10 */
				filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#c1c0c0');  /* IE6,IE7 */	
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#c1c0c0')";  /* IE8+ */
			}
			#main-nav .lev01 ul.lev02, #main-nav .lev02 ul.lev03 {left:-9999px; position:absolute; width:242px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;
				background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c1c0c0)); /* for Safari 4+, Chrome */
				background:-moz-linear-gradient(top, #ffffff, #c1c0c0);  /* for Firefox 3.6 */
				background:-o-linear-gradient(top, #ffffff, #c1c0c0);  /* for Opera 11.10 */
				filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#c1c0c0');  /* IE6,IE7 */	
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#c1c0c0')";  /* IE8+ */
				z-index:999;
				}
			#main-nav .lev01 :hover ul {left:1px; top:37px; width:242px;}
			#main-nav .lev01 :hover li {position:relative;}
			#main-nav .lev01 li:hover {position:relative;}
			#main-nav .lev01 ul.lev02 li {display:block; margin:0; float:none;}
			#main-nav .lev01 ul.lev02 a {background:none; height:37px; padding:0 15px; margin:0; line-height:37px; float:none; color:#242323; font-family:CenturyGothicRegular;; display:block}
			#main-nav .lev01 ul a {width:212px;}
			#main-nav .lev01 ul.lev02 a:hover, #main-nav .lev01 ul.lev03 a:hover {color:#f2f2f2; background:#252525;
				background:-webkit-gradient(linear, left top, left bottom, from(#525252), to(#121212)); /* for Safari 4+, Chrome */
				background:-moz-linear-gradient(top, #525252, #121212);  /* for Firefox 3.6 */
				background:-o-linear-gradient(top, #525252, #121212);  /* for Opera 11.10 */
				filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#525252', endColorstr='#121212');  /* IE6,IE7 */	
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#525252', endColorstr='#121212')";  /* IE8+ */
				}
			#main-nav .lev01 ul.lev02 li.last a:hover, #main-nav .lev01 ul.lev03 li.last a:hover{border-bottom-left-radius:5px; border-bottom-right-radius:5px;}	
			#main-nav .lev01 ul.lev03{left:-9999px}
			#main-nav .lev01 ul.lev02 :hover ul.lev03 {left:242px; top:0; width:242px; display:block;}	
	#wrap-main{background:#f15a22; padding:0 0 20px 0; overflow:hidden; border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
	#main {background:#dcdcdc url(../images/bgd-main.png) repeat-x 0 0; min-height:400px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; overflow:hidden}
		#main.sub-page{background:#cccccc url(../images/bgd-article.png) no-repeat 0 0;}
	.content {padding:20px; color:#000000}	
	.content input {width: 172px; height: 20px; margin: 8px 0 0; padding: 0 5px 0 5px; background-color: #efefef; border: 1px solid #bfbfbf; color: #454545;}
	.content h1{font-size: 15px; font-weight: bold; font-family: CenturyGothicRegular;}	
	.autocomplete-filter {width: 182px; border: 1px solid #bfbfbf; border-top: none; background-color: #ece6dc;}
	.autocomplete-filter li {padding: 5px 10px 5px 10px; color: #333;}
	.autocomplete-filter li:hover, .autocomplete-filter li.active{background-color: #ddd9d3; color: #000;}
		
	footer {width:972px; text-align:center; padding:25px 0}	
	
/*audio*/
.content { float:left;}
.sound-block { background: none repeat scroll 0 0 #fff; box-shadow: 1px 4px 12px 4px #aaa; border-radius: 5px ; float: left;  margin: 10px auto; width: 325px; }
	.sound-block a:hover{ text-decoration: none ; }
		.sound-block ul.list-control { background: none repeat scroll 0 0 #aaa; float: left; height: 34px; margin: 15px; opacity: 1; width: 90%;
			border-radius: 17px ; 
			-moz-border-radius: 17px ; 
			-webkit-border-radius: 17px ; 
			-o-border-radius: 17px ; 
		}
			.sound-block ul.list-control li { height: 20px; left: 13px; overflow: hidden; position: relative; top: 10px; width: 22px; float:left;}
			.sound-block ul.list-control li.prev a span:after { border-color: transparent #FF8F00; border-style: solid; border-width: 10px 10px 0;  content: ""; position: absolute; top: 10px; width: 10px; 
			-moz-transform: rotate(44deg);
			-webkit-transform: rotate(44deg);
			-o-transform: rotate(44deg);
			-moz-transition: border-color 0.5s ease 0s;
			-webkit-transition: border-color 0.5s ease 0s;
			-o-transition: border-color 0.5s ease 0s;}
			.sound-block ul.list-control li.prev a:hover span:after {  border-color: transparent #fff; text-decoration: none ; }
				.sound-block ul.list-control li.prev a span span:after { left: -1px; }
			.sound-block ul.list-control li.play a span:after { border-color: transparent #FF8F00; border-style: solid; border-width: 10px 10px 0; content: ""; left: -20px; position: absolute; top: 11px; width: 13px; 
			-moz-transition: border-color 0.5s ease 0s;
			-webkit-transition: border-color 0.5s ease 0s;
			-o-transition: border-color 0.5s ease 0s;
			-moz-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);}
			.sound-block ul.list-control li.play a:hover span:after {  border-color: transparent #fff; text-decoration: none ; }
			.sound-block ul.list-control li.next a span:after { border-color: transparent #FF8F00; border-style: solid; border-width: 10px 10px 0;  content: ""; left: -20px; position: absolute; top: 10px; width: 10px; 
			-moz-transition: border-color 0.5s ease 0s;
			-webkit-transition: border-color 0.5s ease 0s;
			-o-transition: border-color 0.5s ease 0s;
			-moz-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			}
				.sound-block ul.list-control li.next a span span:after { left: -16px; }
			.sound-block ul.list-control li.next a:hover span:after {  border-color: transparent #fff; text-decoration: none ; }
		.sound-block ul.list-control li.time-slide{  height: 7px; margin-top: 6px; width: 125px; }
				.sound-block ul.list-control li.time-slide a span:first-child { background: none repeat scroll 0 0 #fff; border-radius: 5px 5px 5px 5px; float: left; height: 5px; position: absolute; top: 0; width: 10px; z-index: 1;}
				.sound-block ul.list-control li.time-slide a span:nth-child(2) { background: none repeat scroll 0 0 #FF8F00; border-radius: 5px 5px 5px 5px; float: left; height: 5px; position: absolute; top: 0; width: 100%;}
			 .sound-block ul.list-control li.time{ color: #FFFFFF; padding: 2px 2px 2px 6px; width: 29px; }
			 .sound-block ul.list-control li.volumn { margin-left:10px; }
				.sound-block ul.list-control li.volumn a span:first-child{ background: none repeat scroll 0 0 #FF8F00; border-radius: 15px 15px 15px 15px; float: left; height: 8px; margin: 4px 0 0; position: absolute; width: 8px; }
				.sound-block ul.list-control li.volumn a span:after{  background: none repeat scroll 0 0 transparent; border-color: transparent #FF8F00; border-style: solid; border-width: 10px 10px 0; content: ""; position: absolute; top: 8px; width: 10px;
					-moz-transform: rotate(46deg);
					-webkit-transform: rotate(46deg);
					-o-transform: rotate(46deg);
				}
				.audio-songs { display: none; }
		.list-songs { float:left; padding:10px 10px 0 10px; width: 94%; }
		.list-songs li { overflow: hidden; margin-bottom:10px;  }
		.scroll-block-inner {float: left;  height: 150px; margin-bottom: 20px; overflow: auto; padding-left: 10px; width: 93%;}
		.scroll-block-inner li a { float: left; height: 13px; line-height: 13px; padding: 2px; width: 100%; }
		.scroll-block-inner li.current-song a{ background: none repeat scroll 0 0 #993366; color: #FFFFFF; }